@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body { 
	padding: 60px;
	background-color: #161623;
}

.titulo {
	font-size: 1.3em;
	text-align: center;
	margin-bottom: 10px;
	color: rgba(255, 255, 255, 0.6);
}

h3 {
	font-size: 1em;
	color: rgba(255, 255, 255, 0.6);
}

input {
	margin: 10px;
	width: 100%;
	padding: 5px;
	border: 3px solid white;
	outline: none;
	border-radius: 5px 10px;
	background-color: #161623;
	color: rgba(255, 255, 255, 0.6);
}

.lista__categorias {
	margin-top: 10px;
	color: white;
}

.contenedor {
	display: flex;
    justify-content: center;
    align-items: center;
}

.boton__agrega button {
    display: inline-block;
    position: relative;
    width: 250px;
	height: 5vh;
    margin: 25px;
    text-decoration: none;
    background-color: #fff;
}

.boton__agrega button::before,
.boton__agrega button::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #f00;
    transition: 0.5s;
}

.boton__agrega button:nth-child(1)::before,
.boton__agrega button:nth-child(1)::after {
	background: linear-gradient(45deg, #00ccff, #0d0a38, #0d0a38, #d400d4);
}

.boton__agrega button:hover::before {
    inset: -3px;
}

.boton__agrega button:hover::after {
    inset: -9px;
    filter: blur(10px);
}

.boton__agrega button span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0d0a38;
    z-index: 1;
    font-size: 1.3em;
    border: 2px solid #090630;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
}

.organiza-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contenedor-imagen {
    padding: 30px;
    margin: 25px;
    background-color: #0d0a38;
    box-shadow: inset 0 5px 10px white;
}

.imagen__estilo {
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    border-radius: 5px;
}

.titulo-imagen__estilo {
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
}